In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
v_api_key = "AIzaSyCpkyFtY6Jy1CfaF2nF_DbCbk3oU-30Lmo"
url = "https://maps.googleapis.com/maps/api/js?key=v_api_key&libraries=visualization&callback=initMap"


#AIzaSyCpkyFtY6Jy1CfaF2nF_DbCbk3oU-30Lmo

In [3]:
city_weather_df = pd.read_csv("output_data_cities.csv")
city_weather_df

,City,Lat,Lng,Max Temp,Humidity,Clouds,Wind Speed,Country,Date
0,Thompson,55.74,-97.86,17.60,92,90,3.36,CA,1607210625
1,Port Alfred,-33.59,26.89,68.29,88,80,19.57,ZA,1607210531
2,Faanui,-16.48,-151.75,80.24,78,100,19.24,PF,1607210841
3,Abū Zabad,12.35,29.25,68.09,21,0,11.97,SD,1607210841
4,Cheremnoye,53.17,83.21,-4.00,76,59,4.47,RU,1607210841
...,...,...,...,...,...,...,...,...,...
534,Keningau,5.34,116.16,77.00,94,20,5.82,MY,1607210883
535,Komyshuvakha,47.72,35.53,27.12,77,0,15.03,UA,1607210883
536,Tagusao,9.19,117.81,79.45,83,99,5.70,PH,1607210883
537,Biała Podlaska,52.03,23.12,41.31,89,20,17.13,PL,1607210883
538,Tocopilla,-22.09,-70.20,67.55,60,95,9.06,CL,1607210883

In [4]:
# Configure gmaps
gmaps.configure(v_api_key)

#Store Lat and Lng into locatins
locations = city_weather_df[["Lat", "Lng"]]

#Store humidity into humidity
humidity = city_weather_df["Humidity"].astype(float)

In [5]:
#Create humidity Heatmap layer
fig = gmaps.figure()

humid_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating = False,
                                 max_intensity = 100, point_radius = 1)

fig.add_layer(humid_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
#Narrow down cities to fit weather conditions

#Filter cities with max temps between 60 and 90 degrees
Rad_df = city_weather_df.loc[(city_weather_df["Max Temp"] > 70) & (city_weather_df["Max Temp"] < 85), :]
#filter by humidity below 80 percent
Rad_df = Rad_df.loc[(Rad_df["Humidity"] < 40), :]
#filter by wind speed below 10 mph
Rad_df = Rad_df.loc[(Rad_df["Wind Speed"] < 5), :]
#filter by cloudiness below 50 %
Rad_df = Rad_df.loc[(comfortable_df["Clouds"] < 40), :]

#drop rows with na values
Rad_df = comfortable_df.dropna()
Rad_df

,City,Lat,Lng,Max Temp,Humidity,Clouds,Wind Speed,Country,Date,Hotel Name
213,Kontagora,10.40,5.47,73.81,25,5,4.76,NG,1607210859,NA
382,Damara,4.96,18.70,73.31,37,25,1.12,CF,1607210871,NA

In [10]:
#store into variable 'hotel_df'
hotel_df = Rad_df
#adds column "Hotel_name"
hotel_df["Hotel Name"] = ""

#finding a hotel within 5000 meters of our most comfortable cities
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
for index, row in hotel_df.iterrows():
    lat = row.Lat
    lng = row.Lng
    params = {
        "location": f'{lat}, {lng}',
        "radius": 5000,
        "key" : v_api_key,
        "type" : "lodging"
    }
    response = requests.get(base_url, params = params).json()
    #updates-hotel name
    try:
        hotel_df.loc[index, "Hotel Name"] = response['results'][0]['name']
    #city issues and add "NA" to hold the Hotel name's place
    except:
        print(f'Issues with finding a hotel at {row["City"]}')
        hotel_df.loc[index, "Hotel Name"] = "NA"
        
hotel_df

Issues with finding a hotel at Kontagora
Issues with finding a hotel at Damara

,City,Lat,Lng,Max Temp,Humidity,Clouds,Wind Speed,Country,Date,Hotel Name
213,Kontagora,10.40,5.47,73.81,25,5,4.76,NG,1607210859,NA
382,Damara,4.96,18.70,73.31,37,25,1.12,CF,1607210871,NA

In [11]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

#Add markers on top of the heatmap
hotel_layer = gmaps.symbol_layer(
    locations, fill_color = "blue",
    stroke_color = 'black', scale = 2,
    info_box_content = hotel_info)

fig.add_layer(hotel_layer)

#display figure
fig

Figure(layout=FigureLayout(height='420px'))